#RELOJ

NET "CLK" LOC = "M6"; #Señal de reloj del sistema

#ENTRADA PLACA

NET "SIN" LOC = "B2";

#DISPLAY

NET "SEG7<0>" LOC = "L14"; #Segmento a
NET "SEG7<1>" LOC = "H12"; #Segmento b
NET "SEG7<2>" LOC = "N14"; #Segmento c
NET "SEG7<3>" LOC = "N11"; #Segmento d
NET "SEG7<4>" LOC = "P12"; #Segmento e
NET "SEG7<5>" LOC = "L13"; #Segmento f
NET "SEG7<6>" LOC = "M12"; #Segmento g


# SEÑALES DE ACTIVACIÓN DE LOS DISPLAYS

NET "AN<3>" LOC = "K14"; # SEÑAL = AN0
NET "AN<2>" LOC = "M13"; # SEÑAL = AN1
NET "AN<1>" LOC = "J12"; # SEÑAL = AN2
NET "AN<0>" LOC = "F12"; # SEÑAL = AN3